.foter div{
padding: 10px;
}
.foter div p{
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  color: #000 !important;
}
.foter div h4{
  margin-bottom: 10px;
  text-align: center;
   color: #000 !important;
}
.foter div p:hover{
  border-bottom: 1px solid #000;
  
}