#root {
  height: 100%;
}
.swiper {
  max-width: 1300px;
  margin: auto;
}

.swiper-slide {
  text-align: center;
 padding: 7px; 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
}